/*@font-face {
  font-family: 'openSansBold';
  src: url(fonts/OpenSans-Bold.woff2);
}*/

sup, sub {
  font-size: 50%;
}

html, body {
  width:160px;
  height:600px;
  margin: 0;
}

#main {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:600px;
  background-color: #e2f5e9;
  border:1px solid #000000;
  box-sizing: border-box;
  overflow:hidden;
  visibility: hidden;
}

img, div {
  position:absolute;
}
  
.retinaFullWidth {
  width: 140px;
  left:10px;
}
#txt2{
  position: absolute;
  top:233px;
  width: 132px;
  left: 14px;
}
#txt3{
  position: absolute;
  width: 132px;
  left: 14px;
  top:213px;
}
#txt4{
  position: absolute;
  width: 136px;
  left: 12px;
  top:223px;
}
#txt5{
  position: absolute;
  width: 120px;
  left: 20px;
  top:213px;
}
#logo {
  width: 166px;
  height:auto;
  left: -1px;
  top: 499px;
}

#cta_logo {
  width: 166px;
  height:auto;
  left: -1px;
  top: 213px;
}


#spark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}


#cta {
  position: absolute;
  width: 98px;
  height: auto;
  top: 287px;
  left: 31px;
}

#cta1 {
  position: absolute;
  width: 98px;
  height: auto;
  top: 281px;
  left: 27px;
}

.legals1{
  position: absolute;
  top: 577px;
  left: 16px;
  width: 128px;
}
.legals_new{
  left: 16px;
  top: 325px;
  width: 128px;
}

#bgExit {
  position: absolute;
  left: -1px;
  top: -1px;
  width:160px;
  height:600px;
  cursor: pointer !important;
  z-index: 100;
}
